<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>
  <body>
    <div class="container">
      <div class="c1"><%- include('partials/_header') %></div>

      <div class="c2">
        <div class="map-container">
          <div class="map-list">
            <h2>MAPS</h2>
            <div>
              <% for (const map of maps) { %>
              <div
                class="map-name-favorite"
                style="
                  display: flex;
                  justify-content: space-between;
                "
              >
                <form class="map-item-box">
                  <label class="map-item" id="<%=map.id%>"
                    ><%=map.name%>
                    <input hidden value="<%=map.id%>" type="submit" />
                  </label>
                </form>
                <!-- <button id="favorite" class="fas fa-heart i-heart red"></button> -->
                <button id="favorite" class="fas fa-heart i-heart"></button>
              </div>
              <% } %>
            </div>
          </div>

          <div class="map" id="map"></div>
        </div>
      </div>
      <div style="background-color: #2d82b7">
        <%- include('partials/_edit_point') %>
      </div>
      <div style="background-color: #3e962d">
        <%- include('partials/_create_map') %>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/point.script.js"></script>
  </body>
</html>
